html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  background-color: #F5F5F5;
}

#main {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto;
}

#form, #create_account {
  text-align: center;
}

.info {
  height: 55px;
  font-size: 18px;
  border: 1px black solid;
}

#user {
  border-radius: 5px 5px 0 0;
}

#pass {
  border-radius: 0 0 5px 5px;
}

#login {
  width: 90%;
}
